.toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.toolbar__panel {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    min-width: 20%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.toolbar__btn {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #cccccc;
}

.toolbar__btn--selected {
    color: #626262;
}

.toolbar__user {
    display: flex;
    margin-right: 10px;
}

.toolbar__user__avatar {
    background-color: #626262;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 5px;
    font-size: 13px;
    margin-right: 5px;
}

.toolbar__user__select {
    border-radius: 50px;
    padding-left: 5px;
    border: white 1px solid;
}

.toolbar__user__option {
    padding: 20px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}