.comment-collapsed__avatar {
    background-color: #0D99FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 5px;
    font-size: 13px;
    margin-right: 5px;
    border: white 5px solid;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.comment-collapsed__avatar:hover {
    background-color: #0c77c5;
}