.comment__avatar {
    background-color: #0D99FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 5px;
    font-size: 13px;
    margin-right: 5px;
    border: white 5px solid;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    cursor: auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.comment-collapsed {
    position: absolute;
    left: 50px;
    top: -18px;
}

.comment__avatar:hover {
    background-color: #0c77c5;
}

.comment__avatar--message {
    background-color: #626262;
    box-shadow: none;
    border: 0;
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.comment__avatar--message:hover {
    background-color: #626262;
}

.comment-starter {
    position: absolute;
    left: 50px;
    top: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-starter__input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
    cursor: auto;
}

.comment-starter__input input {
    border: 0;
    outline: 0;
    font-size: 14px;
}

.comment-starter__input input::placeholder {
    color: #cccccc;
}

.comment-starter__input svg {
    color: #cccccc;
}

.comment-starter__input svg:hover {
    color: #626262;
}

.comment-thread {
    position: absolute;
    left: 50px;
    top: -18px;
    display: flex;
    justify-content: flex-start;
}

.comment-thread__panel {
    background-color: white;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
    cursor: auto;
    border-radius: 5px;
}

.comment-thread__panel__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #cccccc;
    padding: 5px 5px 0px;
    border-bottom: #cccccc solid 1px;
    box-sizing: border-box;
}

.comment-thread__panel__header__button {
    margin-left: 5px;
}

.resolve-button:hover {
    color: #cb3838;
}

.message {
    display: flex;
    padding: 0px 12px;
    margin: 10px 0px;
}

.message__main {
    width: 100%;
}

.message__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message__header__name {
    font-size: 13px;
}

.message__header__time {
    font-size: 12px;
    color: #cccccc;
}

.message__content {
    font-size: 12px;
    color: #7d7d7d;
}

.new-message__input {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.new-message__input input {
    border: 0;
    outline: 0;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    font-size: 13px;
}

.new-message__input input::placeholder {
    color: #cccccc;
}

.new-message__input svg {
    color: #cccccc;
}

.new-message__input svg:hover {
    color: #626262;
}